<!-- <p id="notice"><%= notice %></p> -->
<div class="checkinbackground">
<div class="container">
  <div class="row">
    <div id="white" class="col-xs-12">
<h3 id="checkedintitle">You're checked in</h3>

<span>
  <%= @reservation.roomnumber %>
</span>

<p>
  <strong>Customer Name:</strong>
  <%= @reservation.customername %>
</p>

<p>
  <strong>Location:</strong>
  <%= @reservation.location %>
</p>

<p>
  <strong>Room Number:</strong>
  <%= @reservation.roomnumber %>
</p>

<p>
  <strong>Check In Date:</strong>
  <%= @reservation.startdatetime %>
</p>

<p>
  <strong>Check Out Date:</strong>
  <%= @reservation.enddatetime %>
</p>

<p>
  <strong>Pinnumber:</strong>
  <%= @reservation.pinnumber %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @reservation.mobile %>
</p>

<p>
  <strong>Cleanername:</strong>
  <%= @reservation.cleanername %>
</p>

<p>
  <strong>Roomtype:</strong>
  <%= @reservation.roomtype %>
</p>
</div>
</div>
</div>
</div>
<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
