<p id="notice"><%= notice %></p>

<h1>Listing Reservations</h1>

<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Customer Name</th>
      <th>Location</th>
      <th>Roomnumber</th>
      <th>Check in</th>
      <th>Check out</th>
      <th>Pinnumber</th>
      <th>Mobile</th>
      <th>Cleanername</th>
      <th>Roomtype</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.customername %></td>
        <td><%= reservation.location %></td>
        <td><%= reservation.roomnumber %></td>
        <td><%= reservation.startdatetime %></td>
        <td><%= reservation.enddatetime %></td>
        <td><%= reservation.pinnumber %></td>
        <td><%= reservation.mobile %></td>
        <td><%= reservation.cleanername %></td>
        <td><%= reservation.roomtype %></td>
        <td><%= link_to 'Show', reservation, class: "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_reservation_path(reservation), class: "btn btn-primary" %></td>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %></td>
        <td><%=  button_to 'Resend SMS', send_text_message_path(reservation), method: :put, remote: true, class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<br>

<%= link_to 'New Reservation', new_reservation_path, class: "btn btn-primary" %>
